@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
}
.container > h, .container > p {
    text-align: center;
    font-family: 'Roboto';
}
.container > h {
    font-size: 3rem;
    font-weight: bold;
}
input {
    width: 200px;
}
#submit {
    width: 200px;
}
