body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
}
input {
    width: 200px;
}
#submit {
    width: 200px;
}